@media ( max-width: 1025px )
    .main
        &_descr
            .phones
                right: 0%
    .modals
        &_carousel
            .slick-slide
                img 
                    width: 675px
                    height: 425px
@media ( max-width: 769px )
    header
        padding-top: 15px
    .main 
        min-height: 600px
        &_descr
            max-width: 400px
            h1 
                font-size: 30px
            h2 
                font-size: 20px
            .phones 
                width: 300px
                height: 400px
    .modals 
        min-height: 689px
        &_list 
            width: 640px
            height: 90px
            a 
                font-size: 11px
        &_carousel 
            margin-left: 0
            .slick-slide
                img 
                    width: 550px 
                    height: 350px
    .variables
        &_list
            &_left 
                width: 300px
            &_right 
                width: 300px
    .contact
        img 
            width: 30%
            height: 30%
        h1  
            font-size: 24px
    footer
        .footer_list
            h1 
                font-size: 12px
            .footer_descr
                font-size: 10px
@media ( max-width: 500px )
    header 
        display: none
    .main
        min-height: 400px
        nav 
            img 
                width: 60px
                height: 30px
            .menu
                margin-top: 5px
                width: 300px
                a  
                    font-size: 9px 
        &_descr 
            max-width: 200px
            margin-top: 90px
            h1 
                font-size: 18px
                line-height: 38px
                margin-bottom: 20px
            h2 
                font-size: 14px
                margin-bottom: 20px
            button 
                width: 130px
                height: 40px
                font-size: 12px
                margin-bottom: 10px
            .phones
                width: 180px
                height: 240px 
    .with_plengi
        &_list
            flex-direction: column
            align-items: center
            &:nth-child(2)
                margin-bottom: 0    
            &_item
                margin-bottom: 15px
        h1 
            font-size: 30px
    .modals
        padding-top: 30px
        &_list
            width: 300px
            min-height: 200px
            flex-wrap: wrap
            a 
                border-right: none
        &_carousel
            min-height: 250px
            .slick-slide
                img 
                    width: 270px
                    height: 170px
    .benefits
        padding: 30px 10px
        &_list 
            &_item 
                .img_descr
                    font-size: 15px
                    left: 15%
                    right: 15%
    .variables
        h1 
            font-size: 24px
            margin-bottom: 120px
        &_list
            &_left 
                width: 150px
                text-align: left
                h2 
                    font-size: 20px
                h3 
                    font-size: 14px
            &_right 
                width: 150px
                text-align: right
                h2 
                    font-size: 20px
                h3 
                    font-size: 14px
    .contact
        padding: 40px 10px
        img 
            margin-bottom: 40px
    footer 
        padding: 20px 10px 20px 10px
        .footer_list
            &_item
                margin-right: 5px
            &_item1
                margin-right: 5px
                width: 180px
                h1 
                    font-size: 8px
                img 
                    width: 120px
                    height: 40px
            .footer_descr
                font-size: 9px
@media ( max-width: 380px )
    .main
        nav
            .menu
                width: 270px
    .modals
        &_carousel
            padding-top: 26px
    .variables
        h1 
            margin-bottom: 118px
@media ( max-width: 321px )
    .with_plengi
        &_list
            &_item
                width: 300px
    .modals
        &_carousel
            padding-top: 36px
    .variables
        h1 
            margin-bottom: 95px


    
