*
    font-family: 'Roboto', sans-serif
.container
    margin: 0 auto 
    padding: 0 
header 
    padding: 20px 10px 16px 10px
    .countries_list
        display: flex
        justify-content: space-around
        &_item
            display: flex
            img 
                width: 28px
                height: 21px
                margin-right: 11px
            &_text
                color: #242424
                font-size: 12px
                font-weight: 300
                line-height: 18px
                span 
                    font-size: 14px
                    font-weight: 700
.main 
    position: relative
    min-height: 700px
    background: url("../img/bg1.jpg") center center/cover no-repeat
    padding-top: 39px
    nav
        display: flex
        justify-content: space-between
        .menu
            display: flex
            justify-content: space-between 
            width: 540px
            padding: 0
            margin-top: 25px
            a 
                color: #ffffff
                font-size: 13px
                font-weight: 700
                line-height: 26px
                text-transform: uppercase
                text-decoration: none
    &_descr
        display: flex
        justify-content: space-between
        .titles
            margin-top: 133px
            h1 
                color: #ffffff
                font-size: 42px
                font-weight: 400
                line-height: 48px
                margin-bottom: 27px
            h2 
                color: #ffffff
                font-size: 24px
                font-weight: 300
                line-height: 30px
                margin-bottom: 39px
                span 
                    font-weight: 400
            button 
                width: 241px
                height: 60px
                box-shadow: 0 0 7px rgba(0, 0, 0, 0.07)
                background-color: #00c2f0
                color: #ffffff
                font-size: 16px
                font-weight: 700
                line-height: 30px
                border: none
                text-transform: uppercase
        .phones   
            margin-top: 25px 
.with_plengi
    min-height: 700px
    padding: 80px 10px
    &_list
        display: flex
        justify-content: space-between
        margin-bottom: 50px
        &_item 
            position: relative
            width: 360px
            height: 255px
            border: 1px solid #ececec
            .icon 
                display: block
                margin: 0 auto
                margin-bottom: 0
            .descr
                color: #393939
                font-size: 18px
                font-weight: 300
                line-height: 26px
                text-align: center
            .big
                font-weight: 700
            .question
                position: absolute
                bottom: 0
                right: 0   
                margin-bottom: 0
    img 
        display: block
        margin: 0 auto
        margin-bottom: 33px
    h1 
        color: #393939
        font-size: 48px
        font-weight: 700
        line-height: 30.04px
        text-transform: uppercase 
        text-align: center 
        margin: 39px
.modals 
    min-height: 889px
    background: url("../img/bg2.jpg") center center/cover no-repeat
    padding: 79px 10px 61px 10px
    h1 
        color: #ffffff
        font-size: 30px
        font-weight: 400
        line-height: 35.99px
        text-align: center
    &_list 
        display: flex
        margin: 0 auto
        justify-content: space-around
        width: 843px
        height: 65px
        border: 1px solid #ffffff
        border-radius: 8px
        padding-left: 0
        margin-bottom: 43px
        a 
            height: 34px
            padding: 0 26px
            color: #ffffff
            font-size: 14px
            font-weight: 400
            line-height: 25.99px
            text-decoration: none
            margin-top: 16px
            border-right: solid 1px #ffffff70
        a:nth-child(6)
            border-right: none
        a:hover 
            color: #00c2f0
    &_carousel
        position: relative
        background-image: url("../icons/macbook-air.png") 
        background-repeat: no-repeat
        background-size: contain
        margin-left: 60px
        min-height: 600px
        padding-left: 11.5%
        padding-top: 3%
        .slick-slide
            img
                width: 750px
                height: 475px
        .slick-prev, .slick-next  
            position: absolute
            top: 50%
            transform: translateY(-50%)
            left: -66px
            border: none
            background-color: #ffffff00
        .slick-next  
            right: -66px
            left: auto


.benefits
    padding: 81px 10px 80px 10px
    h1 
        color: #393939
        font-size: 30px
        font-weight: 400
        line-height: 35.99px
        text-align: center
        margin-bottom: 44px
    &_list
        width: 1143px
        display: flex
        flex-direction: row
        justify-content: center
        flex-wrap: wrap
        &_item
            position: relative
            .img_descr
                position: absolute
                color: #ffffff
                width: 335px
                font-size: 23px
                font-weight: 400
                line-height: 26px
                text-align: center
                top: 43%
                left: 20%
.variables
    min-height: 580px
    background: url("../img/bg3.jpg") center center/cover no-repeat
    padding-top: 79px
    h1 
        color: #ffffff
        font-size: 30px
        font-weight: 400
        line-height: 35.99px
        text-align: center
        margin-bottom: 128px
    &_list
        display: flex
        justify-content: space-between
        &_left
            width: 483px
            text-align: right
            h2 
                color: #ffffff
                font-size: 30px
                font-weight: 400
                line-height: 22px
                text-transform: uppercase
            h3 
                color: #ffffff
                font-size: 18px
                font-weight: 300
                line-height: 26px
        &_right
            width: 483px
            text-align: left
            h2 
                color: #ffffff
                font-size: 30px
                font-weight: 400
                line-height: 22px
                text-transform: uppercase
            h3 
                color: #ffffff
                font-size: 18px
                font-weight: 300
                line-height: 26px
.contact
    min-height: 690px
    padding: 80px 10px 80px 10px
    img 
        display: block
        margin: 0 auto
        margin-bottom: 74px
    h1 
        color: #393939
        font-size: 30px
        font-weight: 400
        line-height: 36px
        margin-bottom: 30px
        text-align: center
    button 
        width: 241px
        height: 60px
        display: block
        margin: 0 auto
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.07)
        background-color: #00c2f0
        color: #ffffff
        font-size: 16px
        font-weight: 700
        line-height: 30px
        text-transform: uppercase
        border: none
footer 
    min-height: 497px
    background: url("../img/bg5.png") center center/cover no-repeat
    padding: 49px 10px 40px 10px
    .footer_list
        display: flex
        justify-content: space-between
        margin-bottom: 44px
        &_item1
            width: 377px
        h1 
            color: #ffffff
            font-size: 16px
            font-weight: 700
            font-weight: 300
            line-height: 19px
        .footer_descr
            color: #ffffff
            font-size: 14px
            font-weight: 300
            line-height: 19px
    hr 
        height: 1px
        opacity: 0.3
        margin-bottom: 36px
    .footer_rights 
        color: #ffffff
        font-size: 13px
        font-weight: 300
        line-height: 17px
        text-align: center

                    